**/*.jpg
!/public/assets/images/*.jpg
**/*.png
!/public/assets/images/*.png
**/*.jpeg
!/public/assets/images/*.jpeg
**/*.gif
!/public/assets/images/*.gif
**/*.webp
!/public/assets/images/*.webp
**/tempCodeRunnerFile.py
**/Datasets/**
**/*.h5
**/SeaFest_SavedModels/**
**/Full Raw Data
**/Seafest Freshness
**/TFLite Models
**/gitignore
**/Backup
**/old_models